/*Attendance System by Koome Franklin (Mburus)*/
/*https://www.koomefranklin.github.io*/
/* Main page styling */
html, body {
     min-height: 100%;
}
body{
    text-align: center;
    background: rgba(0,0,255,0.5) url("can.png") no-repeat;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-size: cover;
    opacity: 75%;
    color-scheme: dark;
}

/* Adding overlay on the body of the page */
.overlay {
    background-color: rgba(0, 0, 0, 0.733);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

/* Defining the  top navbar */
header {
    background-color: darkcyan;
    color: white;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    font-size: 35px;
    overflow-x: hidden;
    width: 100%;
    min-height: 50px;
    left: 0;
}
/* Logged in user section */
header span {
    margin-left: 10px;
    padding: 14px 16px;
    font-size: large;
    background-color: burlywood;
    color: black;
    cursor: pointer;
}
/* Links in the nav bar */
header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
header a:hover {
    background: none;
    color: black;
    border-radius: 20px;
    text-decoration: underline;
}
header .active {
  background-color: white;
  color: darkcyan;
}

/* Short alert message from flask */
.flash {
    color: green;
    font-style: normal;
    font-weight: normal;
    font-family: monospace;
    background-color: white;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
}
#scroll {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
}

/*Custom alert and confirm boxes*/
#confirm-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
    z-index: 9999;
}

/* heading */
h1{font-weight: bolder;
    font-family: sans-serif;
}

/* Table and table elements styling */
table{
    border:1px;
    border-collapse: collapse;
    border-radius: 20px;
    margin:auto;
    width:80%;
    text-align: left;
    align-self:center;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}
tr {
    border-top: 1px solid black;
}
td {
    height: 80px;
    border-left: 1px dotted black;
}

td label {
    cursor: pointer;
    margin: 0;
    height: 100%;
    background-color: burlywood;
}
caption {
    font-size: 34px;
    font-weight: bold;
    color:white;
}

/* Forms and form elements properties */
.login-form{
    margin: 100px auto auto;
}
.attendance-form {
    margin: 150px auto auto;
}
form{
    max-width: 500px;
    margin: 10px auto;
    background-color: rgba(255,255,255,1);
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
form a {
    color: black;
}
.attendance {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.attendance-form {
    flex: 50%;
}
label {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
}
input, select {
    border-radius: 10px;
    font-size: 30px;
    width: 80%;
}
input:disabled {
    background-color: white;
}
.row-buttons {
    display: flex;
    flex-direction: row;
}
button{
    text-transform: uppercase;
    font-size: 30px;
    background-color: darkcyan;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    opacity: 1;
    border-radius: 10px;
    border: 2px solid darkcyan ;
    margin: 10px;
    padding: 10px 30px;
}
button:hover{
    background-color: #ffffff;
    color: darkcyan;
    opacity: 100%;
}
button:disabled {
    background-color: grey;
    color: white;
}
.select-form {
    position: fixed;
    bottom: 0;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
input[type="checkbox"] {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
}
input[type="checkbox"]:active {
	background-color: black;
}

/* Container for Time and date */
.date {
    font-family: 'Digital-7 Mono', monospace;
    font-weight: bold;
    background-color: black;
    color: green;
    font-size: 20px;
    border-radius: 10px;
    margin: auto;
    max-width: 500px;
}
time {
    font-size: 50px;
}

/* Admin homepage links*/
.links {
    background-color: darkcyan;
    border-radius: 10px;
    margin: 10px auto;
    max-width: max-content;
    border: 2px solid darkcyan;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.links a{
    background-color: darkcyan;
    text-decoration: none;
    border: 2px solid darkcyan;
    padding: 10px 30px;
    font-size: 24px;
    margin: 10px;
    color: white;
    font-weight: bold;
}
.links a:hover {
    background: none;
    text-decoration: underline;
}

/*Guide for new clerks on how to sign in*/
.steps {
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    margin: 10px auto;
    border-radius: 10px;
}
.steps a{
    color: black;
    background-color: darkcyan;
    border: 2px solid darkcyan;
    padding: 10px 30px;
    text-decoration: none;
}
.steps .explanation {
    text-align: left;
    margin: 10px;
}

/*Containers for verification of correct password pattern and matching password*/
.matching-password {
    text-align: left;
    margin: 0 10px;
    font-size: 12px;
    color: red;
}
.password-pattern {
    text-align: left;
    margin: 0 10px;
    font-size: 12px;
}
.password-pattern input[type="checkbox"], .password-pattern label {
    width: auto;
    margin: 2px;
}
.password-pattern p {
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: red;
    margin: 0;
}
#upper:checked + label, #lower:checked + label, #special-character:checked + label,
#number:checked + label, #length:checked + label{
    color: green;
}
