<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='base_style.css')}} ">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        {% block title %}
        {% endblock %}
    <title>{{ title }}</title>
    </head>
    <body>
        <div class="overlay">
            {% block navbar %}
            <div class="topnav">
                 <a href = "{{url_for('home')}}"><i class="fa fa-home"></i></a>
                 <a href="{{ url_for('clerkregistration') }}">Register new clerk</a>
                <a href = "{{url_for('viewclerks')}}" >Registered Clerks</a>
                <a href = "{{url_for('viewattendance')}}" >Clerk Attendance summary</a>
                <a href = "{{url_for('deleterecords')}}" >Delete Records</a>
                <a href="{{url_for('payroll')}}">Payroll</a>
                <a href = "{{url_for('adminsignout')}}" >Signout</a>
            </div>
            {% endblock %}

            <script>
                function updateTime()
                {const date = new Date();
                const dateString = date.toLocaleDateString("en-US", {
                  weekday: "long",
                  year: "numeric",
                  month: "long",
                  day: "numeric"
                });
                const timeString = date.toLocaleTimeString("en-US", {
                  hour12: false,
                  hour: "numeric",
                  minute: "2-digit",
                  second: "2-digit"
                });
                document.getElementById("time").innerHTML = timeString;
                document.getElementById("date").innerHTML = dateString;
            }
                setInterval(updateTime, 1000);
              </script>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div class = "flash"><p>{{msg}}</p></div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %}

            {% endblock %}
            <div class="date">
                <date id="date"></date><br>
                <hr>
                <time id="time"></time><br>
                </div>
        </div>
    </body>
</html>