<!DOCTYPE html>
<html lang="">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='base_style.css')}} ">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
         <script type="text/javascript">
             setInterval(updateTime, 1000);
         </script>
        {% block title %}
        {% endblock %}
    <title>{{ title }}</title>
    </head>
    <body>
        {% block navbar %}
            <div class="top-nav" id="top-nav">
                 <a href = "{{url_for('home')}}"><i class="fa fa-home"></i></a>
                 <a href="{{ url_for('clerkregistration') }}">Register new clerk</a>
                <a href = "{{url_for('viewclerks')}}" >Registered Clerks</a>
                <a href = "{{url_for('viewattendance')}}" >Clerk Attendance summary</a>
                <a href = "{{url_for('deleterecords')}}" >Delete Records</a>
                <a href="{{url_for('payroll')}}">Payroll</a>
                <a href = "{{url_for('adminsignout')}}" >Signout</a>
            </div>
            {% endblock %}
        <div class="overlay">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div class = "flash"><p>{{msg}}</p></div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %}

            {% endblock %}
            <div class="date">
                <span id="date"></span><br>
                <hr>
                <time id="time"></time><br>
                </div>
        </div>
    <script type="text/javascript">window.onload = setActive;</script>
    </body>
</html>