{# Attendance System by Koome Franklin (Mburus) #}
{# https://www.koomefranklin.github.io #}
<!DOCTYPE html>
{# base html for the flask rendered pages for the admin pages
used to add common features and styling to all pages #}
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='base_style.css')}} ">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
         <script type="text/javascript">
             setInterval(updateTime, 1000);
         </script>
        {% block title %}
        {% endblock %}
    <title>{{ title }}</title>{# Get title from the rendering function #}
    </head>
    <body>
    <div class="overlay" id="overlay">
    {# Navbar for all admin pages #}
        {% block navbar %}
            <header class="top-nav" id="top-nav">
                 <a href = "{{url_for('home')}}"><i class="fa fa-home"></i></a>
                 <a href="{{ url_for('clerkregistration') }}">Register new clerk</a>
                <a href = "{{url_for('viewclerks')}}" >Registered Clerks</a>
                <a href = "{{url_for('viewattendance')}}" >Clerk Attendance summary</a>
                <a href = "{{url_for('deleterecords')}}" >Deactivate Clerk</a>
                <a href="{{ url_for('deactivated') }}">Deactivated Clerks</a>
                <a href="{{url_for('payroll')}}">Payroll</a>
                <span id="logged-user"><i class="fa fa-user"></i> {{ username }}</span>
                <a href = "{{url_for('signout')}}" id="signout" hidden="hidden">Signout</a>
                <script type="text/javascript">logout()</script>
            </header>
        {% endblock %}
        {# Get and display alerts from flask #}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class = "flash"><p>{{msg}}</p></div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}

        {% endblock %}
        <div class="date">
            <span id="date"></span><br>
            <hr>
            <time id="time"></time><br>
            </div>
        <button id="scroll" title="To Top" style="display: none">Top</button>
    </div>
    <script type="text/javascript">
        window.onload = setActive;
        scroller();
    </script>
    </body>
</html>