{% extends "Admin_base.html" %}
{% block navbar %}
    <div class="top-nav" id="top-nav">MDFCS Admin Signin</div>
{% endblock %}
{% block content %}
<div class = "login-form">
    <form action="#" method ="POST">
        <label for="username">Username</label>
        <input type = "text" name = "username" id="username" required autofocus><br>
        <label for="password">Password</label>
        <input type = "password" name = "password" id="password" required><br>
        <br>
        <button type = "submit">Sign in</button>
    </form>
</div>
{% endblock %}