<!DOCTYPE html>
<html lang="">
    <head>
    <link rel="stylesheet" href="{{url_for('static', filename='base_style.css')}} ">
    <script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
    <script type="text/javascript">
        setInterval(updateTime, 1000);
    </script>
        {% block title %}
        {% endblock %}
    <title>{{ title }}</title>
    </head>
    <body>
        {% block navbar %}
            <div class="top-nav" id="top-nav">
            <a href="{{url_for('checkin')}}">CHECK-IN</a>
            <a href="{{url_for('checkout')}}">CHECK-OUT</a>
            </div>
        {% endblock %}
        <div class="overlay">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class = "flash"><p>{{msg}}</p></div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="attendance-form">
            <form action = "#" method = "POST">
                <label for="id">Input ID to {{ title }}</label>
                <input type = "text" name = "id" id="id" autofocus><br>
                <button type="submit">{{ title }}</button>
            </form>
        </div>
        <div class="date">
            <span id="date"></span><br>
            <hr>
            <time id="time"></time><br>
        </div>
        </div>
    </body>
</html>
