{# Attendance System by Koome Franklin (Mburus) #}
{# https://www.koomefranklin.github.io #}
<!DOCTYPE html>
{# Page for marking of clerk attendance #}
<html lang="en">
    <head>
    <link rel="stylesheet" href="{{url_for('static', filename='base_style.css')}} ">
        <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
    <script type="text/javascript">
        setInterval(updateTime, 1000);
    </script>
        {% block title %}
        {% endblock %}
    <title>{{ title }}</title>
    </head>
    <body>
	 <div class="overlay">	
        {% block navbar %}
            <header id="top-nav">
                Clerk {{ title }}
            </header>
        {% endblock %}
       
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class = "flash"><p>{{msg}}</p></div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
        <div class="date">
            <span id="date"></span><br>
            <hr>
            <time id="time"></time><br>
        </div>
        </div>
    </body>
</html>
