<!DOCTYPE html>
{# base html for the flask rendered pages for the admin pages
used to add common features and styling to all pages #}
<html lang="">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='base_style.css')}} ">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
        <script type="text/javascript">setInterval(updateTime, 1000);</script>
        {% block title %}
        {% endblock %}
    <title>{{ title }}</title>
    </head>
    <body>
    <div class="overlay">
        {% block navbar %}
        <header id="top-nav">
             <a href = "{{url_for('home')}}"><i class="fa fa-home"></i></a>
             <a href="{{ url_for('attendancesummary') }}">Attendance Summary</a>
            <a href = "{{url_for('payinfo')}}" >Payment Information</a>
            <a href = "{{url_for('change_password')}}" >Change Password</a>
            <span id="logged-user"><i class="fa fa-user"></i> {{ user }}</span>
                <a href = "{{url_for('signout')}}" id="signout" hidden="hidden">Signout</a>
                <script type="text/javascript">logout()</script>
        </header>
        {% endblock %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class = "flash"><p>{{msg}}</p></div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}

        {% endblock %}
        <div class="date">
            <span id="date"></span><br>
            <hr>
            <time id="time"></time><br>
            </div>
    </div>
    <script type="text/javascript">window.onload = setActive;</script>
    </body>
</html>