{% extends "Clerk_base.html" %}
{% block title %}
{% endblock %}
{% block navbar %}
    <header>MDFCS Clerk Portal Signin</header>
{% endblock %}
{% block content %}
<div class = "login-form">
    <form action="#" method ="POST">
        <label for="clerk-username">Email</label>
        <input type = "email" name = "email" id="email" required autofocus>
        <label for="password">Password</label>
        <input type = "password" name = "password" id="password" required>
        <input type="checkbox" name="visibility" id="visibility" onclick="showPassword()" style="display: none">
        <label for="visibility" style="cursor: pointer;">Show Password</label>
        <button type = "submit">Sign In</button>
        <a href="{{ url_for('reset_password') }}">Forgot password?</a>
    </form>
</div>
    <div class="steps">
    <a href="#" onclick="expand()">First time here?</a>
    <span hidden="hidden" id="explanation" class="explanation">
        Use the email you registered using.<br>
        Your password is your phone number which you will be prompted to change after first login.
    </span>
    </div>
{% endblock %}