{% extends "Admin_base.html" %}
{% block title %}

{% endblock %}
{% block navbar %}
    <header id="top-nav">
        MDFCS Admin Home
        <span id="logged-user"><i class="fa fa-user"></i> {{ username }}</span>
        <a href = "{{url_for('signout')}}" id="signout" hidden="hidden">Signout</a>
        <script type="text/javascript">logout()</script>
    </header>
{% endblock %}
{% block content %}
    <div class="links">
        <a href="{{ url_for('clerkregistration') }}">Register new clerk</a>
        <a href = "{{url_for('viewclerks')}}" >View Registered Clerks</a><br>
        <a href = "{{url_for('viewattendance')}}" >View clerk Attendance summary</a>
        <a href = "{{url_for('deleterecords')}}" >Deactivate Clerk</a>
        <a href="{{ url_for('deactivated') }}">Deactivated Clerks</a>
        <a href="{{url_for('payroll')}}">Payroll</a>
    </div>
{% endblock %}
