{# Attendance System by Koome Franklin (Mburus) #}
{# https://www.koomefranklin.github.io #}
{% extends "Admin_base.html" %}
{% block title %}
{% endblock %}
{% block navbar %}
    <header id="top-nav">
        <a href = "{{url_for('home')}}"><i class="fa fa-home"></i></a>
        Password Reset
    </header>
{% endblock %}
{% block content %}
    <form action="#" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required autofocus>
        <span id="code-input" hidden="hidden">
            <label for="code">Code</label>
            <input type="number" name="code" id="code">
        </span>
        <button type="submit">{{ button }}</button>
    <script type="text/javascript">
        code = document.getElementById('code-input');
        email = document.getElementById('email');
        code.hidden = {{ code_hidden }};
        email.readOnly = code.hidden === false;
        if (email.readOnly === true) {
            email.value = '{{ email }}';
        }

    </script>
    </form>
{% endblock %}