{% extends "Clerk_base.html" %}
{% block content %}
<table style="width: 500px;">
    <caption>MDFCS Clerk Portal</caption>
    <tr>
        <td>Clerk Id:</td>
        <td>{{records.clerk_id}} </td>
    </tr>
    <tr>
        <td>Clerk Name:</td>
        <td>{{records.clerk_sname +" "+ records.clerk_fname}} </td>
    </tr>
    <tr>
        <td>Clerk Address</td>
        <td>{{records.clerk_address}} </td>
    </tr>
    <tr>
        <td>Clerk Email</td>
        <td>{{records.email}} </td>
    </tr>
    <tr>
        <td>Clerk Phone</td>
        <td>{{records.clerk_phone}} </td>
    </tr>
</table>
{% endblock %}